@model ToDo.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="Lists" asp-action="Edit" method="post">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit To-Do Item @Html.DisplayFor(model => model.Name) in List @Html.DisplayFor(model => model.List.Name)</h2>
        </div>

        <partial name="_Form.cshtml" model="Model" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
